<template>
  <BBadge class="photo-item">
    <slot />
  </BBadge>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component } from 'vue-property-decorator'
// eslint-disable-next-line import/extensions

@Component({
  components: {},
})
export default class PhotoItem extends Vue {}
</script>

<style lang="scss">
.photo-item {
  margin: 20px;
  font-size: 110%;
  padding: 0.5rem 0.6rem;
  cursor: grab;
}
</style>
