<template>
  <BContainer class="vh-100">
    <Nuxt />
  </BContainer>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component } from 'vue-property-decorator'

@Component({
  components: {},
})
export default class DefaultLayout extends Vue {}
</script>

<style lang="scss" scoped>
.vh-100 {
  height: 100vh;
}
</style>
