<template>
  <BRow class="h-100" align-h="center">
    <BCol align-self="center" cols="12">
      <BAlert :show="hasUnlinkedPhotos" variant="danger">
        Every photo needs to be linked to an album!
      </BAlert>
      <BRow align-v="center">
        <BCol cols="6">
          <h2>Albums</h2>
        </BCol>
        <BCol cols="6">
          <h2>Photos</h2>
        </BCol>
      </BRow>
      <BRow>
        <BCol cols="6">
          <AlbumDisplay v-if="albums.length > 0" :albums="albums" />
          <div v-else>No Albums to display</div>
        </BCol>
        <BCol cols="6">
          <PhotoDisplay
            :has-unlinked-photos="hasUnlinkedPhotos"
            :photos="photos"
          />
        </BCol>
      </BRow>
    </BCol>
    <BRow>
      <BCol>
        <BButton variant="success" :disabled="hasUnlinkedPhotos">Save</BButton>
        <BButton variant="outline-primary" @click="addAlbum">Add Album</BButton>
        <BButton variant="outline-primary" @click="addPhoto">Add Photo</BButton>
      </BCol>
    </BRow>
  </BRow>
</template>

<script lang="ts">
import Vue from 'vue'
import Draggable from 'vuedraggable'
import { Component } from 'vue-property-decorator'
import AlbumDisplay from '~/components/Album/index.vue'
import PhotoDisplay from '~/components/Photo/index.vue'
// eslint-disable-next-line import/extensions
import { Album, Photo } from '~/@types'

@Component({
  components: { Draggable, AlbumDisplay, PhotoDisplay },
})
export default class startPage extends Vue {
  photos: Photo[] = [
    {
      id: 1,
      name: 'photo 1',
    },
    {
      id: 2,
      name: 'photo 2',
    },
    {
      id: 3,
      name: 'photo 3',
    },
    {
      id: 4,
      name: 'photo 4',
    },
    {
      id: 5,
      name: 'photo 5',
    },
  ]
  albums: Album[] = [
    {
      id: 1,
      name: 'Album 1',
      photos: [],
    },
    {
      id: 2,
      name: 'Album 2',
      photos: [],
    },
    {
      id: 3,
      name: 'Album 3',
      photos: [],
    },
  ]

  get hasUnlinkedPhotos(): boolean {
    return this.photos.length > 0
  }

  addAlbum(): void {
    const id: number = this.albums.length + 1
    const newAlbum: Album = {
      id,
      name: `Album ${id}`,
      photos: [],
    }
    this.albums.push(newAlbum)
  }

  addPhoto(): void {
    const amountOfExistingPhotos: number = this.albums.reduce((acc, album) => {
      return acc + album.photos.length
    }, this.photos.length)
    const id: number = amountOfExistingPhotos + 1
    const newPhoto: Photo = {
      id,
      name: `Photo ${id}`,
    }
    this.photos.push(newPhoto)
  }
}
</script>
