<template>
  <div>
    <BCard :class="{ error: hasUnlinkedPhotos }">
      <Draggable :list="photos" group="photos">
        <PhotoItem v-for="photo in photos" :key="photo.id" class="photo-item">
          {{ photo.name }}
        </PhotoItem>
      </Draggable>
    </BCard>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Draggable from 'vuedraggable'
import { Component, Prop } from 'vue-property-decorator'
// eslint-disable-next-line import/extensions
import { Photo } from '~/@types'
import PhotoItem from '~/components/PhotoItem/index.vue'

@Component({
  components: { Draggable, PhotoItem },
})
export default class PhotoDisplay extends Vue {
  @Prop({ required: true }) photos!: Photo[]
  @Prop({ required: true }) hasUnlinkedPhotos!: boolean
}
</script>

<style lang="scss" scoped>
.photo-item {
  margin: 20px;
  font-size: 110%;
  padding: 0.5rem 0.6rem;
  cursor: grab;
}
.error {
  border-color: red;
}
</style>
