<template>
  <div v-if="albums.length > 0">
    <BCard v-for="album in albums" :key="album.id">
      <BCardTitle>
        {{ album.name }}
      </BCardTitle>
      <Draggable :list="album.photos" group="photos">
        <PhotoItem v-for="photo in album.photos" :key="photo.id">
          {{ photo.name }}
        </PhotoItem>
      </Draggable>
    </BCard>
  </div>
  <div v-else>No Albums provided</div>
</template>

<script lang="ts">
import Vue from 'vue'
import Draggable from 'vuedraggable'
import PhotoItem from '~/components/PhotoItem/index.vue'
import { Component, Prop } from 'vue-property-decorator'
// eslint-disable-next-line import/extensions
import { Album } from '~/@types'

@Component({
  components: { Draggable, PhotoItem },
})
export default class AlbumDisplay extends Vue {
  @Prop({ required: true }) albums!: Album[]
}
</script>
